.link {
    display: flex;
    p{
    text-decoration: none;
    margin: 0;
    color: #000
    }
    button {
        display: flex;
        border: none;
        background-color: #fff;
        cursor: pointer;
    }
}