.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 190px 0 350px;
    img {
        filter: drop-shadow(0px 0px 40px rgba(160, 255, 244, 0.85));
    }
    &_title {
        width: 464px;
        h1{
            font-size: 48px;
        }
    }
}