.page_wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-rows: 72px auto 120px;
    overflow-x: hidden;
    background-color: #f2f2f2;
  }