.footer {
    grid-area: footer;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    padding: 0 350px 0 350px;
    p{
        font-size: 12px;
    }
}
.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    p {
        font-size: 12px;
    }
}
.footer_q {
    p{
        text-decoration: none;
        color: #000;
    }
}